<style>
  .phone-grid {
    display: grid;
    grid-template-columns: 30% 1fr;
  }
</style>

<main class="min-h-screen grid place-items-center bg-slate-900">
  <div class="max-w-5xl w-9/12">
    <h1 class="text-white">Create account</h1>
    <form
      [formGroup]="applyForm"
      class="grid md:grid-cols-2 gap-4 md:gap-10"
      (submit)="handleSubmit()"
    >
      <fieldset>
        <label>Email</label>
        <input matInput type="email" formControlName="email" />
      </fieldset>
      <div class="phone-grid">
        <fieldset>
          <select matNativeControl formControlName="country" class="w-28">
            <option
              *ngFor="let country of countries"
              [value]="country.dial_code"
            >
              {{ country.dial_code }}
            </option>
          </select>
        </fieldset>
        <fieldset class="flex-1">
          <label>Phone Number</label>
          <input matInput formControlName="phone_number" />
        </fieldset>
      </div>
      <fieldset>
        <label>Password</label>
        <input matInput type="password" formControlName="password" />
      </fieldset>
      <fieldset>
        <label>Confirm Password</label>
        <input matInput type="password" formControlName="re_password" />
        <p
          *ngIf="!!this.applyForm?.errors?.['passwordMismatch'] && (this.applyForm.get('re_password')?.touched)"
          class="text-red-500"
        >
          Password must match
        </p>
      </fieldset>
      <div class="col-span-2 flex justify-center items-center">
        <button
          mat-raised-button
          color="primary"
          class="py-2 w-4/5 max-w-64"
          type="submit"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</main>
