<style>
  .phone-grid {
    display: grid;
    grid-template-columns: 30% 1fr;
  }
</style>

<main class="min-h-screen flex bg-slate-900">
  <section class="max-w-5xl w-9/12 flex-1 px-10 py-8">
    <h1 class="text-white text-bold text-lg md:text-xl capitalize mb-5">
      Create account
    </h1>
    <form
      [formGroup]="applyForm"
      class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-10 text-white"
      (submit)="handleSubmit()"
      autocomplete="off"
    >
      <fieldset class="flex flex-col gap-3">
        <label for="email" class="text-base font-normal">Email</label>
        <!-- <input
          type="email"
          id="email"
          formControlName="email"
          class="bg-transparent border-white border rounded-md p-2 max-w-sm"
          autocomplete="off"
        /> -->
        <custom-input [config]="email" />
        <p
          *ngIf="!!this.applyForm?.get('email')?.errors?.['required'] && (this.applyForm.get('email')?.touched)"
          class="text-red-500"
        >
          Email is required
        </p>
        <p
          *ngIf="!!this.applyForm?.get('email')?.errors?.['email'] && (this.applyForm.get('email')?.touched)"
          class="text-red-500"
        >
          Invalid Email
        </p>
      </fieldset>
      <div class="flex flex-col gap-3">
        <label>Phone Number</label>

        <div class="flex flex-col gap-4">
          <select
            formControlName="country"
            class="max-w-sm bg-transparent text-white p-2 border border-white rounded-md"
          >
            <option
              *ngFor="let country of countries"
              [value]="country.dial_code"
              class="text-white bg-slate-900"
            >
              {{ country.name }} {{ country.dial_code }}
            </option>
          </select>

          <input
            formControlName="phone_number"
            class="max-w-sm bg-transparent text-white p-2 border border-white rounded-md"
          />
          <p
            *ngIf="!!this.applyForm?.get('phone_number')?.errors?.['required'] && (this.applyForm.get('phone_number')?.touched)"
            class="text-red-500"
          >
            Phone number is required
          </p>
          <p
            *ngIf="!!this.applyForm?.get('phone_number')?.errors?.['minlength'] && (this.applyForm.get('phone_number')?.touched)"
            class="text-red-500"
          >
            Invalid phone number
          </p>
        </div>
      </div>
      <fieldset class="flex flex-col gap-4">
        <label for="password" class="text-base font-normal">Password</label>
        <input
          type="password"
          formControlName="password"
          id="password"
          name="password"
          class="max-w-sm bg-transparent text-white p-2 border border-white rounded-md"
        />
        <p
          *ngIf="!!this.applyForm?.get('password')?.errors?.['required'] && (this.applyForm.get('password')?.touched)"
          class="text-red-500"
        >
          Password is required
        </p>
      </fieldset>
      <fieldset class="flex flex-col gap-4">
        <label for="re_password">Confirm Password</label>
        <input
          type="password"
          formControlName="re_password"
          id="re_password"
          class="max-w-sm bg-transparent text-white p-2 border border-white rounded-md"
        />
        <p
          *ngIf="!!this.applyForm?.errors?.['passwordMismatch'] && (this.applyForm.get('re_password')?.touched)"
          class="text-red-500"
        >
          Password must match
        </p>
      </fieldset>
      <div class="col-span-2 justify-center items-center flex">
        <button
          class="py-2 w-4/5 max-w-64 rounded-md text-white"
          style="background-color: rgb(23, 37, 84)"
          type="submit"
        >
          Create
        </button>
      </div>
    </form>
  </section>
  <section class="bg-black basis-2/5 hidden md:block"></section>
</main>
